.product {
  max-width: 80%;
  width: 90%;
  margin: 4rem auto;
  animation: meals-appear 1s ease-out forwards;
}



.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}

.spinner {
  width: 5rem; /* Adjust the size as needed */
  height: 5rem; /* Adjust the size as needed */
}

@media (min-width: 768px) {
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .product {
    max-width: 90%;
  }
}
